body {
    margin: auto;
    max-width: 720px;
    text-align: center;
}

h1 {
    margin: 0;
    margin-top: 10px ;
}

footer {
    font-size: 85%;    
}

footer p {
    padding: 5px 0 0 0;
    margin: 0;
}


#manual {
    font-size: 120%;
    text-align: left;
    padding-left: 100px;
    margin-top: 10px;
}


.toolbar {   
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 150%;
}

.buttons button {
    font-size: 100%;
}




.bold {
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    _width: 870px;
    _height: 450px;
}

.grid div {
    width: 30px;
    height: 30px;
}

/* .grid div {
    width: 28px;
    height: 28px;
    border: #f0f 1px dotted; 
} */

.shooter {
    background-color: blue;
    border-radius: 15px;
}

.invader { 
    background-color: rgb(253, 0, 190); 
    border-radius: 15px;    
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
    border-radius: 15px;
}



